<div class="container-fluid">
    <div class="row">
        <h1 class="col-6">Blogs</h1>

        <div class="col-6 text-right mt-2">
            <a ng-if="user" class="btn btn-success" role="button" ng-href="/users/{{user}}/new-blog">Create New Blog</a>
            <a ng-if="user" ng-hide="isCurrentUserBlogs" class="btn btn-success" role="button" ng-href="/users/{{user}}/blogs">See My Blogs</a>
        </div>
    </div>

    <div class="card-deck">
        <wl-blog-card ng-repeat="blog in blogs" blog="blog"></wl-blog-card>
    </div>
</div>
