################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Weblog.API/.vs/Weblog.API/v16
/Weblog.API/Weblog.API/obj
