<div>
    <div class="row">
        <h2 class="col-4">Comments</h2>

        <div class="col-8 text-right mt-2">
            <button ng-hide="commenting"
                    ng-click="addComment()"
                    type="button"
                    class="btn btn-success btn-sm"
                    data-toggle="popover"
                    title="Login Required"
                    data-content="Please log in or sign up to access this function.">
                Add Comment
            </button>
        </div>
    </div>

    <form ng-show="commenting" name="newCommentForm">
        <textarea froala="editorOptions" ng-model="newComment"></textarea>

        <div class="my-4 text-right">
            <button ng-click="submit(newCommentForm)" class="btn btn-success" type="submit">Submit</button>
            <button ng-click="toggleComment()" class="btn btn-dark" type="button">Cancel</button>
        </div>
    </form>

    <div ng-hide="dataResolved" class="spinner-container">
        <div class="spinner-border" role="status"></div>
    </div>

    <section ng-show="dataResolved">
        <wl-comment-collection comments="comments"></wl-comment-collection>

    </section>
</div>