<div>
    <div ng-show="dataResolved" class="row my-2">
        <!--<h2 class="col-4">Comments <span class="text-muted font-italic small">({{commentCount}})</span></h2>-->

        <div class="col-8">
            <button class="btn btn-success"
                    type="button"
                    data-toggle="collapse"
                    data-target="#comments">
                Show Comments <span class="badge badge-light">{{commentCount}}</span>
            </button>
        </div>

        <div class="col-4 text-right">
            <button ng-hide="commenting"
                    ng-click="addComment()"
                    type="button"
                    class="btn btn-success"
                    data-toggle="popover"
                    title="Login Required"
                    data-content="Please log in or sign up to access this function.">
                Add Comment
            </button>
        </div>
    </div>

    <form ng-show="commenting" name="newCommentForm">
        <textarea froala="editorOptions" ng-model="newComment"></textarea>

        <div class="my-4 text-right">
            <button ng-click="submit(newCommentForm)" class="btn btn-success" type="submit">Submit</button>
            <button ng-click="toggleComment()" class="btn btn-dark" type="button">Cancel</button>
        </div>
    </form>

    <div ng-hide="dataResolved" class="spinner-container">
        <div class="spinner-border" role="status"></div>
    </div>

    <section ng-show="dataResolved" class="collapse" id="comments">
        <wl-comment-collection comments="comments"></wl-comment-collection>
    </section>
</div>