<div class="jumbotron py-2 m-4">
    <div class="row">
        <a ng-href="/users/{{comment.userId}}/blogs"><i class="fa fa-user-circle"></i> {{comment.userName}}</a>
        <p class="small text-muted ml-auto">{{comment.timeCreated | date : 'MMM d, y h:m a'}}</p>
    </div>

    <div ng-hide="editing">
        <div froala-view="comment.body"></div>

        <div ng-if="isOwner(comment)">
            <button ng-click="toggleEdit()" class="btn btn-sm btn-success">Edit</button>
            <button class="btn btn-sm btn-danger">Delete</button>
        </div>
    </div>

    <div ng-show="editing">
        <textarea froala="editorOptions" ng-model="comment.body"></textarea>

        <div class="mt-2">
            <button ng-click="submit()" class="btn btn-sm btn-success" type="submit">Submit</button>
            <button ng-click="toggleEdit()" class="btn btn-sm btn-dark">Cancel</button>
        </div>
    </div>
</div>