<div class="container-fluid">
    <h2>Posts</h2>
    <div class="jumbotron" ng-repeat="post in posts">
        <p>{{post.timeCreated | date : 'MMM d, y h a'}}</p>

        <a href="users/{{userId}}/blogs/{{post.blogId}}/posts/{{post.postId}}">
            <h3>{{ post.title }}</h3>
        </a>
        <div class="m-2">
            {{postExcerpt(post.body)}}
        </div>
        <div class="row mt-4">
            <a ng-href="users/{{userId}}/blogs/{{post.blogId}}/posts/{{post.postId}}"
               class="ml-4">Read Full Article</a>
            <a ng-if="isOwner()"
               ng-href="users/{{userId}}/blogs/{{post.blogId}}/posts/{{post.postId}}/edit"
               class="ml-auto mr-5">
                Edit Post
            </a>
        </div>
    </div>

    <h6 ng-if="posts.length === 0" class="text-muted">
        It's pretty lonely here...
    </h6>
</div>