<div class="container-fluid">
    <h2>Posts</h2>
    <div class="jumbotron" ng-repeat="post in posts">
        <p>{{post.timeCreated | date : 'MMM d, y h a'}}</p>

        <a href="users/{{userId}}/blogs/{{post.blogId}}/posts/{{post.postId}}">
            <h3>{{ post.title }}</h3>
        </a>
        <div class="m-2">
            {{postExcerpt(post.body)}}
        </div>
        <div class="row mt-4">
            <a ng-href="users/{{userId}}/blogs/{{post.blogId}}/posts/{{post.postId}}"
               class="ml-4">Read Full Article</a>
            <button ng-if="isOwner()"
                    data-toggle="collapse"
                    data-target="#deleteAlert{{post.postId}}"
                    class="btn btn-link text-danger ml-auto mr-3"
                    type="button">
                Delete Post
            </button>
            <a ng-if="isOwner()"
               ng-href="users/{{userId}}/blogs/{{post.blogId}}/posts/{{post.postId}}/edit"
               class="btn btn-link mr-5">
                Edit Post
            </a>
        </div>
        <div class="collapse alert alert-danger" id="deleteAlert{{post.postId}}">
            <p class="lead">Do you really want to delete this post?</p>
            <p class="small">This can NOT be undone.</p>
            <div class="text-right">
                <button ng-click="confirmDelete(post)" class="btn btn-sm btn-danger">Yes</button>
                <button class="btn btn-sm btn-success"
                        data-toggle="collapse"
                        data-target="#deleteAlert{{post.postId}}">
                    No
                </button>
            </div>
        </div>
    </div>

    <h6 ng-if="posts.length === 0" class="text-muted">
        It's pretty lonely here...
    </h6>
</div>