<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
        Login
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        <form class="px-4 py-3" name="loginForm">
            <div class="form-group">
                <label>Email address</label>
                <input required ng-model="emailAddress" type="email" class="form-control" placeholder="email@example.com">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input required ng-model="password" type="password" class="form-control" placeholder="Password">
            </div>
            <button ng-click="login(loginForm)" type="submit" class="btn btn-success">Sign in</button>
        </form>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/register">New here? Click to register</a>
    </div>
</li>