<div class="">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a href="/" class="navbar-brand">Weblog Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/browse">Browse All Blogs</a>
                </li>

                <li class="nav-item dropdown mx-2" ng-show="loggedIn">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                        {{userName}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" ng-href={{userBlogsLink}}>Your Blogs</a>
                        <a class="dropdown-item" href="#">Another action</a>

                        <div class="dropdown-divider"></div>

                        <a ng-click="logout()" class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>


                <li class="nav-item dropdown" ng-hide="loggedIn">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                        Login
                    </a>
                    <div class="dropdown-menu">
                        <form class="px-4 py-3" name="loginForm">
                            <div class="form-group">
                                <label for="exampleDropdownFormEmail1">Email address</label>
                                <input required ng-model="emailAddress" type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                            </div>
                            <div class="form-group">
                                <label for="exampleDropdownFormPassword1">Password</label>
                                <input required ng-model="password" type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                            </div>
                            <button ng-click="login(loginForm)" type="submit" class="btn btn-success">Sign in</button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/register">New here? Click to register</a>
                    </div>
                </li>
               
            </ul>


            
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>