<div class="">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a href="/browse" class="navbar-brand">Weblog Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <wl-search-form></wl-search-form>
            
            <wl-login-section></wl-login-section>

        </div>
    </nav>
</div>