<div class="container">
    <wl-spinner ng-hide="vm.dataResolved"></wl-spinner>

    <section ng-show="vm.dataResolved">
        <h1 class="display-4 mb-5">{{ vm.blog.title }}</h1>

        <div class="row">
            <div class="ml-3">
                <h6 class="text-muted">{{vm.blog.excerpt}}</h6>
                <a ng-href="/users/{{vm.blog.userId}}/blogs"
                   class="font-italic">
                    {{vm.blog.userName}}
                </a>
            </div>
            <div class="ml-auto mr-3">
                <a ng-if="vm.isOwner()" class="btn btn-success"
                   ng-href="{{vm.currentUrl + '/edit'}}">Edit Blog</a>
                <a ng-if="vm.isOwner()" class="btn btn-success"
                   ng-href="{{vm.currentUrl + '/new-post'}}">New Post</a>
            </div>
        </div>
        <hr class="my-4" />

        <wl-post-collection posts="vm.posts" user-ID="{{vm.blog.userId}}"></wl-post-collection>

        <wl-paging-nav current-url="vm.currentUrl + '?'" page-info="vm.pageInfo"></wl-paging-nav>
    </section>
</div>