<div class="container">
    <h1 class="display-4">{{ vm.blog.title }}</h1>
    <h6 class="text-muted my-3">{{vm.blog.excerpt}}</h6>

    <hr class="my-4" />

    <h2>Posts</h2>
    <div class="jumbotron" ng-repeat="post in vm.posts">
        <p>{{post.timeCreated | date : 'MMM d, y h a'}}</p>

        <h3>{{ post.title }}</h3>
        <p>{{ post.body.substr(0, 500) }}...</p>
        <a href={{vm.getLinkForPost(post)}}>Full Article</a>
    </div>

    <h6 ng-if="vm.posts.length === 0" class="text-muted">
        It's pretty lonely here...
    </h6>
</div>