<div class="container">
    <wl-spinner ng-hide="vm.dataResolved"></wl-spinner>

    <section ng-show="vm.dataResolved">

        <h1 class="display-4">{{vm.post.title}}</h1>
        <div class="row mx-auto">
            <a ng-href="/users/{{vm.post.userId}}/blogs" class="font-italic">{{vm.post.userName}}</a>
            <h6 class="text-muted ml-auto">{{vm.post.timeCreated | date: 'EEEE, MMMM d, y @ h:mm a'}}</h6>
        </div>

        <hr class="my-4" />
        <div froala-view="vm.post.body" class="bg-light p-4"></div>

        <hr class="my-4" />
        <wl-comment-section user-Id={{vm.userId}}
                            blog-Id={{vm.blogId}}
                            post-Id={{vm.postId}}>
        </wl-comment-section>

    </section>
</div>