<div class="container">
    <div ng-hide="vm.dataResolved" class="spinner-container">
        <div class="spinner-border" role="status"></div>
    </div>

    <section ng-show="vm.dataResolved">

        <h1 class="display-4">{{vm.post.title}}</h1>
        <h6>{{vm.post.timeCreated | date: 'EEEE, MMMM d, y @ h:mm a'}}</h6>

        <hr class="my-4" />
        <div froala-view="vm.post.body" class="bg-light p-4"></div>

        <hr class="my-4" />
        <wl-comment-section user-Id={{vm.userId}}
                            blog-Id={{vm.blogId}}
                            post-Id={{vm.postId}}>
        </wl-comment-section>

    </section>
</div>