<div class="container text-center">

    <picture>
        <img style="max-height: 10rem;" class="img-thumbnail mb-4" src="app/assets/user.png" />
    </picture>

    <div>
        <h1 class="my-4">{{vm.user.userName}}</h1>

        <div class="my-4">
            <label class="small">Email Address</label>
            <h4 class="text-muted">{{vm.user.email}}</h4>
        </div>
    </div>

    <div ng-if="vm.isOwner()">
        <div class="mt-4">
            <a ng-href="/users/{{vm.user.userId}}/edit" role="button" class="btn btn-success">Edit My Profile</a>
            <button data-toggle="collapse" data-target="#deleteAlert" class="btn btn-danger">Delete My Account</button>
            <a ng-href="/users/{{vm.user.userId}}/blogs" role="button" class="btn btn-success">See My Blogs</a>
        </div>

        <form id="deleteAlert" name="deleteForm" class="collapse alert alert-danger mt-2">
            <p class="lead">Are you sure you want to delete your account and erase all data?</p>
            <p>It would make us sad to see you go... <i class="fa fa-sad-tear"></i></p>

            <div class="form-group">
                <label class="small">Type the word "confirm" below.</label>
                <input ng-model="vm.confirmDeleteInput"
                       class="form-control col-3 mx-auto"
                       type="text"
                       placeholder="confirm"
                       ng-required="true" />
            </div>

            <button ng-click="vm.confirmDelete(deleteForm)" class="btn btn-sm btn-danger" type="submit">Yes</button>
            <button class="btn btn-sm btn-success"
                    data-toggle="collapse"
                    data-target="#deleteAlert"
                    type="reset">
                No
            </button>
        </form>
    </div>
</div>