:root {
    --dark-green: #28544b;
    --muted-green: #6f9a8d;
    --forest-green: #1f6650;
    --light-green: #acbd86;
    --lighter-green: #eafbea;
    --bright-accent: #ea5e5e;
    --muted-accent: #ffa06f;
    --light-accent: #ffd6a0;
}

html, body {
    height: 96%;
}

main {
    min-height: 100%;
}

.main-content {
    overflow: auto;
    padding-bottom: 10rem;
    padding-top: 1rem;
}

footer {
    position: relative;
    margin-top: -5rem;
    height: 5rem;
    clear: both;
    padding-top: 1rem;
}

.navbar {
    background-color: var(--dark-green);
}

h1, h2 {
    color: var(--dark-green);
}

h3 {
    color: var(--muted-green);
}

.jumbotron {
    background-color: var(--lighter-green);
}

a {
    color: var(--bright-accent);
}

    a:hover {
        color: var(--forest-green);
    }

.card-deck {
    margin: 0 auto;
    min-width: 100%;
}

    .card-deck .card {
        min-width: 100%;
        max-width: 100%;
        min-height: 15rem;
        background-color: var(--lighter-green);
    }

        .card-deck .card .card-title {
            color: var(--dark-green);
        }

        .card-deck .card .card-text {
            color: var(--muted-green);
        }

.unauthorized-background h1,
.error-background h1 {
    font-size: x-large;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

@media only screen and (min-width: 576px) {
    .card-deck .card {
        min-width: 43%;
        max-width: 43%;
    }

    .unauthorized-background {
        background-image: url('/app/assets/private.jpg');
        background-size: 100%;
        min-height: 600px;
        background-repeat: no-repeat;
    }

    .error-background {
        background-image: url('/app/assets/error.jpg');
        background-size: 100%;
        min-height: 600px;
        background-repeat: no-repeat;
    }
}

@media only screen and (min-width: 992px) {
    .card-deck .card {
        min-width: 30%;
        max-width: 30%;
    }

    .unauthorized-background h1,
    .error-background h1 {
        font-size: xx-large;
    }
}
